.navSetting {
    width: calc(100% - 50px);
    height: 80px;
    border-radius: 35px;
    margin-bottom: 15px;
    line-height: 80px;
    padding: 0px 25px;
    font-size: 25px;
    color: #fcfcfc;
    font-family: "nanumSQb";

    background: rgba(30, 30, 30, 0.5);
}

#navSetting1 {
    position: absolute;
    width: 60px;
    height: 30px;
    right: 25px;
    top: 25px;
    border-radius: 35px;
    transition: .3s ease;

    background: rgba(200, 200, 200, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#navSetting1Ball {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    top: 2.5px;
    left: 2.5px;
    border-radius: 35px;
    transition: .3s ease;
}

.navMainBookOldWrap {
    left: 0;
}

.navMainBookNewWrap {
    right: 0;
}

.navMainBookOldWrap, .navMainBookNewWrap {
    position: absolute;
    width: calc(50% - 2.5px);
    padding-bottom: 20vh;
}

.navMainBookOld, .navMainBookNew {
    width: 100%;
    height: 50px;
    border-radius: 35px;
    margin-bottom: 5px;
    line-height: 50px;
    font-size: 20px;
    color: #fcfcfc;
    text-align: center;
    transition: .3s ease;
    font-family: "nanumSQb";

    background: rgba(30, 30, 30, 0.5);
}

.selectedBook {
    background: #fcfcfc80;
    color: #282828;
}

#selectedTitleBook, #selectedTitleChapter {
    transition: .3s ease;
    font-size: 15px;
    line-height: 40px;
}

.selectedTitle {
    border-radius: 35px;
    padding: 5px 10px;

    background: #282828;
}

#chapterDial, #verseDial {
    position: absolute;
    width: 100px;
    height: 300px;
    overflow-y: auto;
    text-align: center;
    font-size: 40px;
    scroll-snap-type: y mandatory;
    scroll-padding: 0 0;
    color: #c0c0c0;
    border-radius: 35px;
    background-color: rgba(30, 30, 30, 0.5);
}

#chapterDial {
    left: calc(50% - 105px);
}

#verseDial {
    right: calc(50% - 105px);
}

#chapterDial::-webkit-scrollbar, #verseDial::-webkit-scrollbar {
    display: none;
}

.chapterDialNumbers, .verseDialNumbers {
    width: 100%;
    height: 100px;
    line-height: 100px;
    scroll-snap-align: center;
}

#chapterDialNumber1, #verseDialNumber1 {
    color: #fcfcfc;
    font-family: "nanumSQb";
}

#setChapterVerse {
    position: absolute;
    width: 210px;
    height: 50px;
    top: 310px;
    left: calc(50% - 105px);
    border-radius: 35px;
    border: none;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #282828;
    font-size: 25px;
    transition: .3s ease;
    font-family: "nanumSQb";
}

#setChapterVerse:active {
    transform: scale(0.95);
}

@media (prefers-color-scheme: light) {
    .navSetting {
        background: rgba(76, 76, 76, 0.5);
    }
    .navMainBookOld, .navMainBookNew {
        background: rgba(76, 76, 76, 0.5);
    }
    .selectedBook {
        background: #fcfcfc;
    }
    .selectedTitle {
        background: #4c4c4c;
        color: #fcfcfc;
    }
    #chapterDial, #verseDial {
        background: rgba(76, 76, 76, 0.5);
    }
}

.noPlusChapter {
    animation: noPlusChapter .3s infinite; 
}

.noMinusChapter {
    animation: noMinusChapter .3s infinite; 
}

@keyframes noPlusChapter {
    0% {
        transform: translateX(0px);
    }
    40% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0px);
    }    
}

@keyframes noMinusChapter {
    0% {
        transform: translateX(0px);
    }
    40% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0px);
    }    
}

#searchInput {
    position: fixed;
    width: calc(100% - 90px);
    height: 50px;
    left: 15px;
    padding: 0px 10px;
    padding-left: 50px;
    border: none;
    border-radius: 35px;
    transition: .3s ease;
    color: #fcfcfc;
    font-size: 20px;
    font-family: 'nanumSQ';
    z-index: 0;

    background: rgba(30, 30, 30, 0.5);
}

#searchInput:focus {
    outline: none;
    box-shadow: #fcfcfc 0px 0px 0px 3px inset;
    /* transform: scale(1.05); */
}

#searchForm i {
    position: fixed;
    color: #fcfcfc;
    font-size: 20px;
    z-index: 1;
    /* top: 15px; */
    /* left: 15px; */
    margin-top: 15px;
    margin-left: 15px;
}

/* #searchNav {
    position: fixed;
    width: 50px;
    height: 50px;
    max-height: 305px;
    border-radius: 30px;
    border: none;
    right: 15px;
    background: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #282828;
    font-size: 20px;
    transform: scale(0);
    font-family: 'nanumSQB';
    text-align: center;
    line-height: 50px;
    transition: .3s ease;
    overflow-y: scroll;
    box-shadow: #fcfcfc 0px 0px 0px 3px;
} */

/* .searchNavButtons:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.searchNavButtons:last-child {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.searchNavButtons {
    width: 100%;
    height: 50px;
    border-radius: 35px;
    margin: 2px 0px;
    border: none;
    line-height: 50px;
    font-size: 20px;
    color: #282828;
    text-align: center;
    font-family: "nanumSQb";

    background: #fcfcfc;
    background: rgba(30, 30, 30, 0.5);
} */