.navSetting {
  width: 100%;
  height: 80px;
  border-radius: 35px;
  margin-bottom: 10px;
  line-height: 80px;
  padding: 0px 25px;
  font-size: 25px;
  color: #fcfcfc;
  font-family: "nanumSQb";

  background: rgba(30, 30, 30, 0.5);
}

#navSetting1 {
  position: absolute;
  width: 60px;
  height: 30px;
  right: 25px;
  top: 25px;
  border-radius: 20px;
  transition: .3s ease;

  background: rgba(200, 200, 200, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#navSetting1Ball {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  top: 2.5px;
  left: 2.5px;
  border-radius: 20px;
  transition: .3s ease;
}
